<div>
    <span>{{pwdcontrol.name}}</span>&nbsp;
    <span>{{pwdcontrol.status}}</span>
</div>

<div style="width: 100%; height: 90%;">    
    <as-split #split direction="horizontal" (dragEnd)="dragEndHandler($event)">
        <as-split-area [size]="50">
          Content
        </as-split-area>
        <as-split-area [size]="40">
            <as-split direction="vertical" (dragEnd)="dragEndHandler($event)"   (gutterClick)="splitGutterClick($event)">
                <as-split-area [size]="90">
                  <div class="term2" style="width: 100%; height: 100%; background-color: blue;"></div>
          
                </as-split-area>
                <as-split-area [size]="10">
          
                  
                  <div class="term1" style="width: 100%; height: 100%; background-color: greenyellow;"></div>
          
                </as-split-area>
              </as-split>   
        </as-split-area>
   
    </as-split>    
</div>